{% extends 'base.html.twig' %}


{% block head %}<h1>Prostages</h1>{% endblock %}
{% block body %}

    <h2>Cette page affichera le descriptif du stage ayant pour identifiant {{ idStage }}</h2>
	
	
{% endblock %}
